<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<title>  
 LeviathanShop
</title>
<link rel="shortcut icon" type="image/png" href="https://i.etsystatic.com/17857814/r/il/a0b9e0/1660312888/il_570xN.1660312888_417a.jpg"/>
</head>

<body class="bg-dark">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item  ">
              <a class="nav-link bg" href="/">Home Page<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/ToateProdusele">Produse <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/Promotii">Promotii<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/CosulMeu"> <strong>Cosul meu </strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/Recenzii">Recenzii <span class="sr-only">(current)</span></a>
              </li>
              <% if (admin==true) {%>
                <li class="nav-item">
                  <a class="nav-link" href="/Administrare">Admin <span class="sr-only">(current)</span></a>
                </li>
                <% }%>
          </ul>
          <% if (admin==false) {%>
            <form class="form-inline my-2 my-lg-0" action="/Login" method="get" >
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login as admin </button> 
            </form>
            <%}  else {%>
              <form class="form-inline my-2 my-lg-0" action="/Logout" method="get" >
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout </button> 
              </form>
              <% } %>
        </div>
      </nav>
       &nbsp;
       

       <form action="/CosulMeu" method="POST">
      <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                      
                        <thead>
                            <tr>
                                <th scope="col"> 
                                <th scope="col" class="text-light">Nume</th>
                                <th scope="col" class="text-light">Valabilitatea</th>
                                <th scope="col" class="text-center text-light">Nr. bucati</th>
                                <th scope="col" class="text-right text-light">Pret</th>
                                <th scope="col" class="text-right text-light">Remove</th>
                               
                            </tr>
                        </thead>

                        <tbody>
                          
                          
                          <% var i = 0; %>  
                          <% var pret_total = 0; %>  
                          <% product.forEach(function(x){  %>  
                            <tr>
                                <td><img src=""  class="img-responsive img-thumbnail"/> </td>
                                <td class="text-light"> <%=x.name %></td>
                                <td class="text-light"> In stock</td>
                                <% if(!cantitate.length){ %>
                                  <td class="text-light">
                                    <label for="cantitate"></label>
                                    <input type="text" id="cantitate" placeholder="1"  name="cantitate">
                                  </td>
                                  <% pret_total = pret_total + x.pret; %>
                                <% } else{ %>
                                  <td class="text-light">
                                    <label for="cantitate"></label>
                                    <input type="text" id="cantitate" placeholder="<%=cantitate[i]%>"  name="cantitate">
                                  </td>
                                  <% pret_total = pret_total + cantitate[i] * x.pret; %>
                                <% } %>
                                
                                <% if(!cantitate.length){ %>
                                  <<td class="text-right text-light"><%=x.pret %> lei</td>
                                <% } else{ %>
                                  <td class="text-right text-light"><%= cantitate[i] * x.pret %>  lei</td>
                                <% } %>
                                <td class="text-right">  <a><button class="btn btn-sm btn-danger" type="button" onclick="location.href='/StergeProdusCos/<%=x._id %>'" ><i class="fa fa-trash"></i> </button> </td>
                              
                                </tr>
                            <% i++; }) %>
                            <% if (pret_total!=0) {  %>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-light">Sub-Total:</td>
                                <td class="text-right text-light"> <%=pret_total %> lei</td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-light">Pret Transport:</td>
                                <td class="text-right text-light">20 lei</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-light"><strong>Total:</strong></td>
                                <% pret_total+=20; %>
                                <td class="text-right text-light"><strong><%=pret_total %> lei</strong></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <p class="buttons text-center">				
                  <button class="btn" type="submit">Update Cos</button>
                </p>		
            </div>
            
                    <div class="text-center">
                        <a class="btn btn-primary" href="/FinalizeazaComanda" role="button">Finalizeaza comanda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </form>

    &nbsp;&nbsp;&nbsp;
    



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>